@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Clicker+Script&family=Merriweather:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&family=Work+Sans:wght@400;500;900&display=swap");

:root {
  --bg-dark-900: #151515;
  --bg-dark-100: #222222;
  --bg-dark-50: #393939;
  --text-dark-900: #ffffff;
  --text-dark-700: #e9e9e9;
  --skin-color: #2f9fea;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  width: 100%;
  background-color: var(--bg-dark-900);
  min-height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.section-title {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}

.section-title h2 {
  font-size: 2.5rem;
  color: var(--text-dark-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 0.25rem;
  width: 1.5rem;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -1rem;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  color: white;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--bg-dark-100);
  border: 1px solid var(--skin-color);
}

/* ========== Navigation Bar Section ========== */
nav {
  transition: all 0.3s ease;
}
nav .logo {
  padding-left: 0.5rem;
}

nav .logo a {
  color: var(--text-dark-900);
  font-weight: 700;
  padding: 0.5rem 0.45rem 0.5rem 0.75rem;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  position: relative;
}

nav .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 1.5rem;
}

nav .logo a::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid var(--skin-color);
  border-left: 1px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

nav .logo a::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-top: 1px solid var(--skin-color);
  border-right: 1px solid var(--skin-color);
  top: 0;
  right: 0;
}

nav .nav-toggler {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--skin-color);
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  top: 0.35rem;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-toggler span {
  height: 2px;
  width: 1rem;
  background-color: var(--text-dark-900);
  display: inline-block;
  position: relative;
}

nav .nav-toggler.open span {
  background-color: transparent;
}

nav .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 1rem;
  background-color: var(--text-dark-900);
  position: absolute;
  top: -6px;
  left: 0;
}

nav .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

nav .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 1rem;
  background-color: var(--text-dark-900);
  position: absolute;
  top: 6px;
  left: 0;
}

nav .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

nav .navbar-social {
  position: absolute;
  top: 0.75rem;
  right: 4.5rem;
}

nav .navbar-social:last-child {
  height: 1.5rem;
  border-right: 1px solid var(--skin-color);
}

nav .navbar-social ul {
  display: flex;
}

nav .navbar-social ul li {
  list-style: none;
  padding-right: 1rem;
  font-size: 1.25rem;
}

nav .navbar-social ul li a {
  color: var(--text-dark-700);
}

nav .navbar-social ul li a:hover {
  color: var(--skin-color);
}

/* ========== Home Section ========== */
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark-900);
}

.home .home-info {
  padding-top: 0;
}

h3.hello {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 5rem;
  font-size: 1.25rem;
  color: var(--text-dark-700);
  padding: 0 1rem;
}

.home .home-img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.home-img::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-top: 0.75rem solid var(--skin-color);
  border-left: 0.75rem solid var(--skin-color);
  left: 1.25rem;
  top: -2.5rem;
}

.home-img::after {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-bottom: 0.75rem solid var(--skin-color);
  border-right: 0.75rem solid var(--skin-color);
  right: 1.25rem;
  bottom: -2.5rem;
}

.home .home-img img {
  margin: auto;
  max-width: 80%;
}

.home .home-info .about-me {
  margin: 0 1rem;
}

/* ========== About Section ========== */
.about .about-content .about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--text-dark-900);
  padding: 0 1rem;
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-dark-700);
  padding: 0 1rem;
}

.about .about-content .personal-info {
  margin-top: 2.5rem;
  padding: 0 2rem;
}

.about .about-content .personal-info .info-item p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark-900);
  border-bottom: 1px solid var(--bg-dark-50);
  padding: 0.5rem;
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-dark-700);
  display: inline-block;
  margin-left: 0.5rem;
}

.about .about-content .personal-info .buttons {
  margin-top: 2rem;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 1rem;
  padding: 1rem;
}

.about .about-content .skills {
  margin-top: 2.5rem;
  padding: 0 2rem;
}

.about .about-content .skills .skill-item {
  margin-bottom: 1.5rem;
}

.about .about-content .skills .skill-item h5 {
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-dark-900);
  text-transform: capitalize;
  position: relative;
}

.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-dark-50);
  height: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .progress .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-dark-900);
  top: -2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.about .about-content .education,
.about .about-content .experience {
  margin-top: 2rem;
  padding: 0 2rem;
}

.about .about-content h3.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--text-dark-900);
}

.about .about-content .timeline-box .timeline {
  background-color: var(--bg-dark-100);
  padding: 2rem 1rem;
  border: 1px solid var(--bg-dark-50);
  border-radius: 0.5rem;
  width: 100%;
  position: relative;
}

.about .about-content .timeline-box .timeline .timeline-item {
  position: relative;
  padding: 0 2rem 2.5rem 2rem;
}

.about .about-content .timeline-box .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline-box .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 0.5rem;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline-box .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline-box .timeline .timeline-date {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: var(--text-dark-700);
}

.about .about-content .timeline-box .timeline .timeline-date .fa {
  margin-right: 0.25rem;
}

.about .about-content .timeline-box .timeline .timeline-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--text-dark-900);
}

.about .about-content .timeline-box .timeline .timeline-text {
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
  color: var(--text-dark-700);
}

/* ========== Portfolio Section ========== */
.portfolio .container {
  padding-bottom: 2.5rem;
}

.portfolio .portfolio-item-container {
  padding: 0.5rem;
}

.portfolio .portfolio-item {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--skin-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.portfolio .portfolio-item:hover {
  background-color: var(--bg-dark-100);
}

.portfolio .portfolio-item a {
  text-decoration: none;
}

.portfolio .portfolio-item-inner .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-item-inner img {
  width: 60%;
}

.portfolio .portfolio-item-inner h5 {
  font-size: 1.5rem;
  color: var(--text-dark-900);
  font-weight: 600;
}

.portfolio .portfolio-item-inner p {
  font-size: 1rem;
  color: var(--text-dark-700);
}

/* ========== Contact Section ========== */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.contact-sub-title {
  color: var(--text-dark-900);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.contact .contact-info-item {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin-bottom: 4rem;
  padding: 0 1rem;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon .fa {
  font-size: 1.5rem;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-dark-900);
  text-transform: capitalize;
  margin: 1rem 0 0.33rem;
}

.contact .contact-info-item p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-dark-700);
  font-weight: 400;
}

.contact .contact-form {
  color: var(--text-dark-900);
  padding: 0 1rem;
}

.contact .contact-form .form-control {
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-dark-100);
  border: 1px solid var(--bg-dark-50);
  font-size: 1rem;
  color: var(--text-dark-700);
  transition: all 0.3s ease;
}

.contact .contact-form .form-control:focus {
  border-color: var(--skin-color);
  box-shadow: 0 0 1.25rem rgba(48, 46, 77, 0.15);
}

.contact .contact-form textarea {
  height: 10rem;
}

.contact .contact-form .btn {
  height: 3rem;
  width: 100%;
  padding: 0 3rem;
}
