/* Global Settings -------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hero, .skills, .projects, .contact {
    min-height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills, .projects, .contact {
    text-align: center;
}

.skills, .contact {
    background: #343a40;
    color: #fff;
    padding: 4rem 0 2rem 0;
}

/* Navbar Settings -------------------------------------------------*/
.navbar-brand img {
    height: 2.5rem;
}
.navbar-toggler-icon {
    font-size: 0.8rem;
}
.navbar-nav a {
    font-size: 1rem;
}

/* Hero Settings ---------------------------------------------------*/
.hero mark {
    color: #64bbe8;
    background-color: transparent;
}

/* Skills Settings -------------------------------------------------*/
.skills {
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.skills-wrapper {
    padding: 2rem;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    color: #fff;  
    padding: 1rem;
}

.skill-list .ith-skill {
    padding: 1rem;
}
.skill-list i {
    font-size: 2.5rem;
}

/* Projects Settings -----------------------------------------------*/
.projects {
    padding: 0 1rem;
}
.projects h1 {
    padding: 1rem;
}

/* Contact Settings ------------------------------------------------*/
.contact {
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}
.contact .form-item {
    padding: 1rem;
}
.contact .btn {
    font-weight: bold;
    background-color: #64bbe8;
    border-color: #64bbe8;
}